.navbar{
    background-color: #325158;
    padding: 0.5rem;
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.navbar img{
    width: 4rem;
    height: 4rem;
}