.header-form{
    background-color: #325158;
    padding: 0.6rem 0rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-icono{
    width: 4rem;
    height: 4rem;
}
.header-form a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
}
.form-titulo{
    font-weight: 500;
    font-size: 3rem;
}
.section-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-form{
    display: flex;
    background-color: #325158;
    border-radius: 20px;
    width: 60vw;
    height: 80vh;
}
.contenedor-form img{
    flex-basis: 50%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.img-sesion{
    width: 40%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.form-usuario{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.contenedor-input{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-titulo{
    text-align:center; 
    margin-bottom:1rem
}
.form-usuario input{
    width: 22rem;
    padding: 0.8rem;
    border-radius: 25px;
    border: 1px solid white;
    outline: none;
    background-color: #3b757f;
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}
.form-usuario input::placeholder{
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.form-usuario input:focus{
    background-color: transparent;
}
.form-usuario button{
    padding: 0.8rem 1.2rem;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid white;
    background-color: #325158;
    cursor: pointer;
    transition: all 250ms;
}
.form-usuario button:hover{
    background-color: #5faab1;
}
.form-pregunta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-top: 0.5rem;
    padding-inline: 0.3rem;
}
.form-pregunta a,
.form-pregunta p{
    color: white;
    font-size: 0.9rem;
}
.swal2-popup {
    color: #ffffff; /* Cambiar el color del texto a blanco */
}
@media (max-width:1400px){
    .form-usuario input{
        width: 20rem;
    }
}
@media (max-width:1200px){
    .form-usuario input{
        width: 17rem;
    }
    .form-usuario input::placeholder{
        font-size: 1rem;
    }
    .form-titulo{
        font-size: 2.8rem;
    }
}
@media (max-width:1024px) {
    .contenedor-form{
        width: 75vw;
        height: 35rem;
    }
    .contenedor-form img{
        display: none;
    }
    .form-usuario input{
        width: 20rem;
    }
    .form-usuario input::placeholder{
        font-size: 1.2rem;
    }
    .form-titulo{
        font-size: 3rem;
    }
}
@media (max-width:510px) {
    .contenedor-form{
        width: 85vw;
        height: 35rem;
    }
}
@media (max-width:430px) {
    .form-usuario input{
        width: 18rem;
        font-size: 1rem;
    }
    .form-usuario input::placeholder{
        font-size: 1rem;
    }
    .form-titulo{
        font-size: 2.8rem;
    }
}
@media (max-width:390px) {
    .form-usuario input{
        width: 16rem;
    }
    .form-titulo{
        font-size: 2.5rem;
    }
}
@media (max-width:350px) {
    .form-usuario input{
        width: 14rem;
        font-size: 0.9rem;
    }
    .form-usuario input::placeholder{
        font-size: 0.9rem;
    }
    .form-titulo{
        font-size: 2.5rem;
    }
}